
    <div class="container">
        <header>
            <h1 class="text-center">О бюро переводов</h1>
        </header>
        <div class="container white-block ">
            <div class="row row-content">  
                <div class="col-xs-12 text-justify ">
                    <p>Бюро переводов "lalala"  существует с 2010года  и предлагает своим клиентам весь спектр услуг по письменному и устному переводу на основные европейские  языки, как российскими переводчиками, так и носителями языков.
                    Мы переводим финансово-экономические, юридические и личные документы, осуществляем перевод медицинской и технической документации, художественных и научных текстов, перевод сайтов; также оказываем услуги по нотариальному заверению переводов, проставлению апостиля, легализации документов, локализации сайтов, верстки материалов различной сложности, переводу аудио- и видеоматериалов.</p> 
                    <p> Мы тщательно отбираем специалистов своего дела, профессионализм которых отвечает самым строгим критериям: высшее профильное образование, опыт работы, отработанные навыки письменного перевода, знание терминологии и сленга. Это позволяет гарантировать нам высокое качество перевода в кратчайшие сроки.</p>
                    <p> Если Вы заинтерисованы в сотрудничестве с нами в качестве переводчика, напишите нам электронное письмо, приложив небольшую сводку о Вашем образовании и опыте работы. Мы всегда рады хорошим специалистам.</p>

                    <p> График работы бюро с 9:00 до 20:00 <br> </p>
                    
                    <p> Отправить заказ на оценку вы можете в любое время: </p>
                        <ul>
                            <li> заполните <a href="https://form.jotformeu.com/61940492689368">  форму </a> </li>
                            или
                            <li> отправьте email: на <a href="mailto:place@holder.com">place@holder.com</a>  с файлом любого формата или веб-ссылкой и описанием задачи </li>
                        </ul>
                       <p> Менеджер оценит заказ и сразу вам ответит. </p>    
                       <hr>             
                </div>
                
                <div class="col-xs-12 col-sm-4 col-sm-push-1 text-justify ">                 
                    <h2> Реквизиты компании </h2>   
                    <address> 634050 г.Томск <br>
                            пр. Ленина, 52а <br>         
                        <span class="glyphicon glyphicon-earphone"></span> +852 1234 5678 <br>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:place@holder.com">place@holder.com</a> 
                     </address>   
                </div>

                <div class="col-xs-12 col-sm-8 col-sm-push-3 text-justify "> 
                    <a href="https://www.google.ru/maps/place/%D0%BF%D1%80.+%D0%9B%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0,+52%D0%90,+%D0%A2%D0%BE%D0%BC%D1%81%D0%BA,+%D0%A2%D0%BE%D0%BC%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+634050/@56.4779049,84.9453206,16z/data=!4m18!1m12!4m11!1m3!2m2!1d84.949698!2d56.4779879!1m6!1m2!1s0x4326935f1248a56f:0xeced540a33533b96!2z0L_RgNC-0YHQv9C10LrRgiDQm9C10L3QuNC90LAsIDUy0JAsINCi0L7QvNGB0LosINCi0L7QvNGB0LrQsNGPINC-0LHQu9Cw0YHRgtGM!2m2!1d84.949698!2d56.477905!3m4!1s0x4326935f1248a56f:0xeced540a33533b96!8m2!3d56.477905!4d84.949698?hl=ru" target="_blank" > 
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4406.8223015706635!2d84.9453206!3d56.4779049!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4326935f1248a56f%3A0xeced540a33533b96!2z0L_RgC4g0JvQtdC90LjQvdCwLCA1MtCQLCDQotC-0LzRgdC6LCDQotC-0LzRgdC60LDRjyDQvtCx0LsuLCA2MzQwNTA!5e0!3m2!1sru!2sru!4v1468498066107" width="250" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>                    
                    </a>
                </div>               
            </div>
                           
        </div>
    </div>
        
    
