
    <div class="container">
        <header>
            <h1 class="text-center">Пользовательское соглашение</h1>
        </header>
        <div class="container white-block">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-12">
                    <h3 class="text-center"> Оферта по предоставлению услуг по переводу</h3>
                    <p> Настоящий документ является официальным предложением (публичной Офертой, в дальнейшем именуемой «Оферта» ) Индивидуального Предпринимателя lalala (далее — «Исполнитель») физическим и юридическим лицам (далее — «Заказчик») заключить Договор на предоставление услуг языкового текстового перевода и содержит условия оказания комплекса услуг по переводу, а также иные существенные условия. </p>
                    <ol class="text-justify">
                        <li> Термины и определения
                            <ol>
                            <li >Сайт – совокупность веб-страниц, размещенных Исполнителем на виртуальном выделенномсервере хостинг-провайдера и образующих единую структуру веб-сайта Международнойслужбы переводов «lalalal». Адрес главной страницы в сети Интернет - http://perevodim.biz </li>
                            <li>Система – совокупность программных и аппаратных средств, обеспечивающих информационноеи технологическое взаимодействие между Заказчиком и Исполнителем при оформлении Заказа на перевод, информировании Заказчика о приеме заказа и его готовности, оплате заказа с использованием сети Интернет. </li>
                             <li>Оферта – настоящий документ, публичный Договор-оферта по оказанию Исполнителем Заказчику переводческих услуг, опубликованный в сети Интернет по адресу:http://lalalala.biz/dogovor. </li>
                            <li>Акцепт Оферты – полное и безоговорочное принятие Оферты. Акцепт Оферты создает Договор Оферты. </li>
                            <li>Договор Оферты – Договор между Исполнителем и Заказчиком на предоставление первым переводческих услуг второму, который заключается посредством Акцепта Оферты Заказчиком.</li>
                            <li>Заказчик — физическое или юридическое лицо, производящее акцепт Оферты,  в случае принятия изложенных ниже условий.</li>
                            <li>Заказ -  документ, содержащий текст или совокупность текстов, переданных Заказчиком Исполнителю с указанием типа и языка перевода с целью получения услуги.</li>                    
                            </ol>
                        </li>                        
                        <li > Предмет Договора
                            <ol >
                            <li>Настоящий Договор разработан в соответствии с законодательством РФ и публикуются на сайте Исполнителя. Исполнитель имеет право изменить  Договор (либо какую-то его часть) без уведомления. Новая редакция Договора вступает в силу с момента публикации на сайте Исполнителя. </li>
                            <li>Условия Договора распространяются на физических лиц (резидентов и нерезидентов РФ), обладающих необходимой право- и дееспособностью, а также всеми правами, необходимыми и достаточными для заключения и исполнения настоящего Договора в соответствии с его условиями, а также на юридических лиц (резидентов и нерезидентов РФ), обладающими всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения настоящего Договора в соответствии с его условиями. </li>
                            <li>Заказчик, принимая условия настоящей Оферты, подтверждает, что ознакомлен с дополнительными рисками, в том числе с риском перехвата информации третьими лицами в каналах связи во время их использования, сведений о кодах доступа и паролях, сведений о Заказчике. При этом Исполнитель принимает все возможные меры для недопущения наступления данных рисков. </li>
                            <li>Стороны признают, что их отношения регулируются законодательством РФ, если иное прямо не установлено законом.</li>
                            <li>Исполнитель обязуется оказать Заказчику услуги по языковому текстовому переводу в соответствии с заданием Заказчика, а Заказчик обязуется принять услуги и оплатить их в порядке, предусмотренном настоящим Договором.</li>                                           
                            </ol>
                        </li>    
                        <li> Стоимость услуг и порядок расчетов
                            <ol>
                            <li>Стоимость услуг Исполнителя  определяется на основании раздела «Цены» (http lalala) и зависит от типа выбранного перевода а так же объема текста содержащегося в Заказе. Изменение стоимости оплаченного Заказчиком заказа не допускается. </li>
                            <li>Оплата услуг по данной Оферте осуществляется наличным или  безналичным способом путем внесения денежных средств на расчетный счет или кассу Исполнителя по выбору Заказчика на условиях 50 процентной предоплаты на стадии заключения и подписания обеими сторонами (или их представителями) Оферты, и 100 процентной оплаты по факту выполненного Заказа. </li>
                            <li>Факт оказания услуг Исполнителем и передача готовых материалов Заказчику посредством  электронных документов или документов на  бумажных носителях подтверждается подписанием Сторонами (уполномоченными представителями сторон) Акта сдачи-приемки оказанных услуг. Стороны обязуются подписать Акт сдачи-приемки не позднее 3 (трех) рабочих дней с момента передачи готовых материалов Заказчику. В случае не подписания данного Акта со стороны заказчика и не предоставления письменного мотивированного отказа от его подписания в течение 5 (пяти) дней Акт сдачи-приемки оказанных услуг считается подписанным.</li>  
                            <li>Заказчик обязуется произвести полную оплату за выполненный Заказ  в срок не позднее 3 (трех) банковских дней с момента получения счета от Исполнителя.</li>  
                            <li>Исполнитель не несет ответственности за задержку перечисления денежных средств, ошибочное зачисление денежных средств или иные трудности с оплатой, возникшие у Заказчика в связи с ненадлежащим исполнением своих обязанностей банковскими и небанковскими кредитными организациями, платежными системами и иными третьими лицами, посредством которых Заказчик производил оплату, а также в случае неисполнения платежа в связи с указанием Заказчиком неверных или неточных реквизитов Исполнителя. </li>
                            <li>После поступления денежных средств Заказчика на расчетный счет Исполнителя Исполнитель приступает к выполнению Заказа. Исполнитель обязан предоставить услугу согласно оплаченному объему. После того как Исполнитель приступил к выполнению Заказа, возврат денежных средств не производится. </li>
                            </ol>
                        </li>    
                        <li>Ответственность сторон
                            <ol >
                            <li>Исполнитель обязуется осуществить своевременное оказание Услуги с надлежащим качеством. Качество перевода документов должно соответствовать типу перевода. Перевод должен быть пригоден к использованию в соответствии с заявленной целью того или иного типа перевода. В переведенном тексте должен быть понятен смысл как всего текста, так и отдельных его фрагментов.</li>
                            <li>Срок предъявления Заказчиком претензий по предоставленному переводу вне зависимости от типа и объема перевода составляет 30 (тридцать) календарных дней. По окончании данного срока претензии Заказчика по переводу считаются недействительными. </li>
                            <li>После получения готового варианта перевода Заказчик вправе уведомить Исполнителя о принятии заказа и отсутствии претензий по нему любым удобным для Заказчика способом. </li>
                            <li>Если Заказчик предъявляет к переводу требования по употреблению специальной терминологии (принятой в организации Заказчика), он обязан оговорить это при размещении заказа, а также предоставить Исполнителю глоссарий в форме электронного текстового документа. </li>
                            </ol>
                        </li>
                        <li>Конфиденциальность
                            <ol >
                            <li>Под конфиденциальной информацией понимается любая информация, представленная документально или в устной форме или полученная путем наблюдения или анализа любого вида коммерческой, финансовой и иной деятельности Заказчика, включая, но не ограничиваясь этим, научные, деловые и коммерческие данные, ноу-хау, формулы, процессы, разработки, эскизы, фотографии, планы, рисунки, технические требования, образцы отчетов, модели, списки клиентов, прайс-листы, исследования, компьютерные программы, изобретения, идеи, а также любая другая информация.</li>
                            <li>Исполнитель обязуется не разглашать конфиденциальную информацию третьим лицам, за исключением случаев, когда конфиденциальная информация может быть разглашена с разрешения Заказчика в процессе работы по Оферте, заключенной между Заказчиком и Исполнителем. Исполнитель ограничивает разглашение конфиденциальной информации, предоставляя доступ к ней только тем сотрудникам Исполнителя, для деятельности которых необходимо знание такой информации. Вышеназванные сотрудники должны четко осознавать, что они обязаны сохранять конфиденциальность информации и ограничивать ее использование в рамках данной Оферты.</li>
                            <li>Исполнитель признает, что обязательства по сохранению конфиденциальности применяются в отношении информации, переданной ему Заказчиком как до, так и после даты заключения данной Оферты.</li>
                            <li>Обязательства по сохранению конфиденциальности остаются в силе в течение 6 (шести) месяцев после расторжения данного Договора.</li>
                            <li>Обязательства по сохранению конфиденциальности информации, изложенные в настоящей Оферте, не распространяются на информацию, которая была известна Исполнителю до того, как Заказчик предоставил ему эту информацию.</li>
                            </ol>
                        </li>
                        <li>Форс-мажорные обстоятельства
                            <ol >
                            <li>В случае наступления обстоятельств непреодолимой силы, квалифицированных в международном законодательстве как форс-мажор (постановления правительства, стихийные бедствия и т.д.) и препятствующих выполнению условий настоящей Оферты, Стороны не несут ответственности за несоблюдение условий Оферты на все время действия вышеуказанных обстоятельств.</li>
                            <li>В случае возникновения не предвиденных обстоятельств, которые могут повлечь за собой отсрочку срока сдачи готового перевода, Исполнитель обязан сообщить Заказчику о них не позднее трех рабочих дней и принять меры по устранению и предотвращению рисков нарушения сроков выполнения без применения санкций к Исполнителю.</li>
                            </ol>
                        </li>
                        <li>Срок действия договора
                            <ol >
                            <li>Все споры, разногласия или требования, возникающие из настоящего Договора или в связи с ним, разрешаются Сторонами путем взаимных переговоров.</li>
                            <li>В случае невозможности достижения согласия в ходе переговоров споры, разногласия и требования разрешаются Сторонами в претензионном порядке.</li>
                            <li>Все претензии по выполнению условий Договора должны предъявляться сторонами в письменной форме и направляться другой стороне по электронной почте. Претензии могут быть направлены Исполнителю по следующему адресу: lalalala@perevedem.ru </li>
                            <li>Сторона, получившая претензию, обязана сообщить заявителю о результатах ее рассмотрения в течение 15 (пятнадцати) рабочих дней с момента получения. Ответ на претензию предоставляется в письменной форме и направляется другой Стороне заказным письмом с уведомлением и описью вложения или вручается под расписку.</li>
                            <li>При невозможности достижения соглашения между Сторонами спор передается на рассмотрение Арбитражного суда г. Томска в соответствии с законодательством РФ.</li>
                            </ol>
                        </li>
                        <li>Срок действия договора
                            <ol >
                            <li>Настоящий Договор является бессрочным.Договор может быть расторгнут по инициативе Заказчика в любой момент с уведомлением Исполнителя не менее чем за 10 (десять) рабочих дней до даты прекращения действия договора, предоплаченные Заказчиком денежные средства в данном случае возврату не подлежат. Уведомление о прекращении Договора может быть направлено Исполнителю заказным письмом с уведомлением по Адресу: lalalaa г. Москва, ул. Новокосинская, д. 17, корп. 7. </li>
                            <li>Договор может быть расторгнут по инициативе Исполнителя в любой момент с уведомлением Заказчика не менее чем за 10 (десять) рабочих дней до даты прекращения действия Договора, уведомление о прекращении Договора подлежит направлению электронным сообщением на адрес электронной почты, указанный Заказчиком оформлении заявки. Предоплаченные, но не выработанные Заказчиком денежные средства в данном случае подлежат возврату.</li>
                            <li>Срок оказания услуг подлежит автоматическому продлению в случае пролонгации договора и внесения Заказчиком новой оплаты. Оказание услуг осуществляется Исполнителем после исполнения Заказчиком обязанности по оплате услуг. </li>
                            <li>Исполнитель вправе расторгнуть Договор в одностороннем порядке в случае нарушения Заказчиком его условий или по иным основаниям, предусмотренным действующим законодательством без предварительного уведомления Заказчика </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>             
    </div>
            

