
    <div class="container">
        <header>
            <h1 class="text-center">FAQ</h1>
        </header>
        <div class="container white-block">
            <div class="row row-content">
                <div class="col-xs-12 ">
                    <h2 >Заказ на перевод</h2>
                    <input type="checkbox" class="hide" id= "q1-1">
                    <label for="q1-1">Какого формата файлы я могу загрузить на перевод?</label>
                    <div>Вы можете загрузить на перевод документы во всех наиболее распространенных форматах: 
                        <ul>
                        <li> Документы Office: DOC, DOCX, XLS, XLSX, ODP, ODT, TXT, RTF; </li>
                        <li>Презентации/Сканы: PDF, PPT, PPTX, PPS, PPSX, POTX; </li>
                        <li>Документы HTML: HTM, HTML; </li>
                        <li>Локализация: RESX, SRT; </li>
                        <li>Графические форматы: BMP, DCX, PCX, PNG, JP2, JPC, JPG, JPEG, JIFF, TIF, TIFF, GIF, JB2, DJV, DJVU;</li>
                        </ul>
                        Если у вас остаются сомнения относительно возможности перевода документа того или иного формата, пожалуйста, уточните это у менеджера.
                    </div>
                     <input type="checkbox" class="hide" id= "q1-2">
                    <label for="q1-2">Мне нужно перевести презентацию. Сможете ли вы сохранить форматирование и прислать мне такую же презентацию, но с переведенным внутри текстом? 
                    </label>
                    <div>Это возможно. При отправке презентации для расчета стоимости перевода, укажите это в комментариях.
                    </div>
                    <input type="checkbox" class="hide" id= "q1-3">
                    <label for="q1-3">Сколько стоит перевод на вашем сайте?
                    </label>
                    <div>Стоимость услуг перевода рассчитывается в зависимости от сложности текста.  Основными критериями, влияющими на стоимость, являются тип перевода, объем документа и языковая пара. 
                    </div>
                    <input type="checkbox" class="hide" id= "q1-4">
                    <label for="q1-4">Как понять, какой тип перевода мне выбрать? 
                    </label>
                    <div>
                        <ul>
                            <li> <span>Базовый:</span>
                            Используется для перевода текстов общей тематики. Предназначен для общего понимания смысла или внутреннего ипользования. Скорость перевода в данном случае максимальная.</li>
                            <li> <span>Профессиональный:</span>
                            Качественный перевод текста профессиональным переводчиком с последующей проверкой редактором-носителем языка и вычиткой корректором. Рекомендуется для перевода текстов предназначенных для публикации.</li>
                            <li> <span>Экспертный:</span>
                            Максимально качественный перевод. При выполнении перевода кроме редактора и корректора, к работе так же привлекается отраслевой эксперт или копирайтер. Рекомендуется при переводе маркетинговых материалов или документов со специфической терминологией.</li>
                        </ul>
                    </div>
                    <input type="checkbox" class="hide" id= "q1-5">
                    <label for="q1-5">Кто переводит мой документ? 
                    </label>
                    <div>Все переводы выполняются квалифицированными специалистами. Выбор специалиста для вашего документа происходит на основе тематики текста и доступности переводчика на момент выполнения заказа.
                    </div>
                    <input type="checkbox" class="hide" id= "q1-6">
                    <label for="q1-6">Как вы гарантируете высокое качество перевода? 
                    </label>
                    <div>В случае если вы заказали Экспертный тип перевода, над документом будет работать целая команда профессионалов: переводчики, редакторы и корректоры. 
                    </div>
                    <input type="checkbox" class="hide" id= "q1-7">
                    <label for="q1-7">Сколько времени может занять перевод моего документа? 
                    </label>
                    <div>Срок готовности вашего документа указывается при выставлении счета. Время выполнения заказа зависит от его объема, типа перевода и языковой пары. <br>
                    Если предложенные сроки выполнения заказа вам не подходят, напишите нам и мы постараемся вам помочь.
                    </div>
                    <input type="checkbox" class="hide" id= "q1-8">
                    <label for="q1-8">Как скоро начнет выполняться мой перевод, если я отправил(а) заказ в нерабочее время (выходные, праздники, ночное время)?
                    </label>
                    <div>Ваш перевод уйдет в работу сразу же после внесения аванса, независимо от времени размещения заказа.
                    </div>
                    <input type="checkbox" class="hide" id= "q1-9">
                    <label for="q1-9">Я хочу просто понять смысл документа, какой вариант перевода мне лучше выбрать? 
                    </label>
                    <div>Для этого можно выбрать Базовый тип перевода. Текст будет переведен профессиональным переводчиком, а не машиной, но он не будет проходить этапы редактуры и корректуры.
                    </div>
                    <input type="checkbox" class="hide" id= "q1-10">
                    <label for="q1-10">Я хочу сделать качественный перевод документа, в котором встречается специфическая терминология. Какой вариант перевода мне лучше выбрать? 
                    </label>
                    <div>Для такого случая подходит Экспертный тип перевода. Ваш документ будут переводить профессионалы, имеющие опыт работы с соответствующей тематикой, после чего текст пройдет обязательную редактуру научным редактором и вычитку корректором.
                    </div>
                    <input type="checkbox" class="hide" id= "q1-11">
                    <label for="q1-11">Я передумал и хочу изменить тип перевода моего документа, можно ли это сделать?  
                    </label>
                    <div>Если вы уже оплатили заказ, то чтобы изменить тип перевода свяжитесь с менеджером. Вы всегда можете поменять тип перевода на более продвинутый (например, с Базового на Экспертный).
                    </div>
                    <h2 >Оплата</h2>
                    <input type="checkbox" class="hide" id= "q2-1">
                    <label for="q2-1">Как я могу оплатить перевод?
                    </label>
                    <div>Есть несколько способов оплатить перевод прямо на сайте: банковская карта (Visa, MasterCard), Yandex.Деньги. Оплатить заказ можно после согласования типа перевода и сроков выполнения заказа.
                    </div>
                    <input type="checkbox" class="hide" id= "q2-2">
                    <label for="q2-2">Могу ли я вернуть деньги при неудовлетворительном качестве перевода? 
                    </label>
                    <div>Если вы считаете, что качество перевода является неудовлетворительным, напишите нам, указав номер заказа. Мы предложим вам повторно перевести документ силами другого переводчика (бесплатно) или вернем деньги. 
                    </div>
                    <h2>Готовый заказ</h2>
                    <input type="checkbox" class="hide" id= "q3-1">
                    <label for="q3-1">Как я узнаю, что перевод готов? 
                    </label>
                    <div>Вы получите уведомление на ваш адрес электронный почты и/или смс на номер мобильного телефона, которые вы указали при оформлении заказа .
                    </div>
                    <input type="checkbox" class="hide" id= "q3-2">
                    <label for="q3-2">В каком формате я получу переведенный документ? 
                    </label>
                    <div>Переведенный документ будет в том же формате, что и исходный файл. Если вы загружали на перевод изображение (например, скан или картинку), то вы получите перевод надписей на этом изображении в редактируемом формате (MS Word). Если вам требуется картинка с надписями на языке перевода, сообщите об этом менеджеру и он вас проконсультирует о такой услуге. 
                    </div>






                                             
                   



                </div> 
            </div>
        </div>    
    </div>        

