
    <div class="container">
        <header class="jumbotron">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <h1>Бюро переводов <br> Интрига</h1>
                </div>
                 
                <div class="col-xs-12 col-sm-3 col-md-push-1"> 
                    <button type="button" class="btn btn-primary  btn-lg order btn-custom-spin" data-toggle="modal" data-target="#button-order">Заказать перевод</button>
                </div>

                 <div id="button-order" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                    <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Заказать перевод</h4>
                            </div>
                            <div class="modal-body">                
                                <form action="send_form.php" method="post" enctype="multipart/form-data" data-toggle="validator">
                                    <div class="form-group form-group-sm">
                                        <label class="sr-only" for="name">Имя</label>
                                            <input type="name" class="form-control" id="name" placeholder="Имя" name="user_name" required>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="sr-only" for="email">Email</label>
                                           <input type="email" class="form-control" id="email" placeholder="Email" name="user_email" required>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <input type="hidden" name="MAX_FILE_SIZE" value="20000000">
                                        <label class="sr-only" for="upload">Загрузить файл</label>
                                         <input type="file" name="user_form" size="30" id="upload" required >
                                    </div>

                                    <div class="form-group form-group-sm">
                                        <label class="sr-only" for="comment">Комментарий</label>
                                        <textarea class="form-control" rows="5" type="comment" placeholder="Комментарий" size="300"></textarea>
                                    </div>
                                                                        
                                    <button type="submit" class="btn btn-default btn-sm"> Отправить </button>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                 </div> 
                    
           
            
            <div class="col-xs-12 col-sm-10 col-md-push-6 col-sm-push-3 col-md-6 text-left"> 
                    <p>Выполняем письменный перевод текстов и документов любой сложности</p></div>
                    </div>
        </header>
    </div>
    
    <div class="container">
        <div class="row row-content white-block">
            <h2 class="text-center">Преимущества нашего бюро переводов</h2>
            <div class="col-xs-12 col-sm-4 text-justify">
                <div class="text-center ">
                <img class="myimg" src="images/time-12-tropical-128.jpg">
                </div>
                <p style="padding:20px;"> Если перевод нужен был еще вчера, это к нам. Мы работаем круглосуточно и выполням срочные заказы в рекордно короткие сроки</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-justify">
                <div class="text-center">
                <img class="myimg" src="images/chat-4-tropical-128.jpg" >
                </div>
                <p style="padding:20px;"> Мы всегда на связи. Вы можете быть уверены в том, что получите квалифицированный ответ на ваш вопрос, который можно задать по электронной почте или по телефону.</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-justify">
                <div class="text-center">
                <img class="myimg" src="images/text-file-5-tropical-128.jpg" >
                </div>
                <p style="padding:20px;"> Заказ перевода можно сделать любым удобным способом: с помощью онлайн-заявки, по электронной почте или связавшись со специалистам по телефону</p>
            </div>
            <div class="col-xs-12">
                <p class="text-center h_3">Мы гарантируем возврат денег, если вы останетесь недовольны качеством нашей услуги.</p>
            </div>
        </div>
        <div class="row row-content" id="comment">
            <h2 class="text-center">Отзывы наших клиентов</h2>
            
            <div class="col-xs-12 col-sm-4 text-justify">
                <blockquote>                    
                    Хочу выразить вам свою благодарность за очень быстрый и качественный перевод. Работа была сделана в короткие сроки и с учётом всех пожеланий по формату. 
                    <footer>Алексей, Туристическое агентство "Консул"</footer>
                </blockquote>                          
            </div>
            
            <div class="col-xs-12 col-sm-4 text-justify">
                <blockquote >                                      
                    Выражаем благодарность за качественный и оперативный перевод на немецкий и английский языки сложного юридического текста. Спасибо, обратимся к Вам еще!
                    <footer>Юридическое бюро "Фемида"</footer>
                </blockquote>                          
            </div>   
            <div class="col-xs-12 col-sm-4 text-justify">
                <blockquote>                    
                    Самые положительные впечатления от работы с вами! Не в первый и, надеемся, не в последний раз сотрудничаем и всегда довольны качеством услуг.
                    <footer>Ирина, Компания "Атриум"</footer>
                </blockquote>                          
            </div>         
        </div>
    </div>
