
    <div class="container">
        <header>
            <h1 class="text-center">Определение стоимости перевода</h1>
        </header>
        <div class="container white-block price">
            <p  class="text-justify" >Стоимость перевода зависит от типа перевода, языковой пары и сроков исполнения заказа. Ниже приведена примерная стоимость перевода в рублях за 1.800 знаков (1 переводческая страница). Статистика считается на языке, на который был выполнен перевод. Полную стоимость перевода можно узнать оформив заявку на сайте.</p>
            
            <table class="price">
                <tr>    
                    <th id="la">Тип перевода</th>
                    <th colspan="2">Базовый</th>
                    <th colspan="2">Проффесиональный</th>
                    <th colspan="2">Экспертный</th>
                </tr>
                <tr>
                    <td>Назначение перевода</td>
                    <td colspan="2" class="text-justify">Используется для перевода текстов общей тематики. Предназначен для общего понимания смысла или внутреннего ипользования. Скорость перевода в данном случае максимальная. </td>
                    <td colspan="2" class="text-justify">Качественный перевод текста профессиональным переводчиком с последующей проверкой редактором-носителем языка и вычиткой корректором. Рекомендуется для перевода текстов предназначенных для публикации.</td>
                    <td colspan="2" class="text-justify">Максимально качественный перевод. При выполнении перевода кроме редактора и корректора, к работе так же привлекается отраслевой эксперт или копирайтер. Рекомендуется при переводе маркетинговых материалов или документов со специфической терминологией. </td>
                </tr>
                <tr>
                    <td>Наименование языка</td>
                    <td >с языка</td>
                    <td >на язык</td>
                    <td >с языка</td>
                    <td >на язык</td>
                    <td >с языка</td>
                    <td >на язык</td>
                </tr>
                <tr>
                    <td>Английский</td>
                    <td >220</td>
                    <td >350</td>
                    <td >400</td>
                    <td >600</td>
                    <td >600</td>
                    <td >1000</td>
                </tr>
                <tr>
                    <td>Немецкий</td>
                    <td >350</td>
                    <td >400</td>
                    <td >500</td>
                    <td >700</td>
                    <td >800</td>
                    <td >1100</td>
                </tr>
                <tr>
                    <td>Французский</td>
                    <td >350</td>
                    <td >400</td>
                    <td >500</td>
                    <td >700</td>
                    <td >800</td>
                    <td >1100</td>
                </tr>
                <tr>
                    <td>Испанский</td>
                    <td >350</td>
                    <td >400</td>
                    <td >500</td>
                    <td >700</td>
                    <td >800</td>
                    <td >1100</td>
                </tr>
                <tr>
                    <td>Казахский</td>
                    <td >400</td>
                    <td >600</td>
                    <td >600</td>
                    <td >900</td>
                    <td >800</td>
                    <td >1350</td>
                </tr>   
             </table>
           
            <div class="row row-content ">
                <div class="col-xs-12 ">
                            
                  <ul>
                    <li class="price-list"><h3 > Дополнительные услуги</h3>  </li>
                    <li class="price-list"> <span class="glyphicon glyphicon-ok"></span> Верстка сложных документов</li>
                    <li class="price-list"><span class="glyphicon glyphicon-ok"></span>  Локализация и перевод сайтов </li>                    
                    <li class="price-list"> <span class="glyphicon glyphicon-ok"></span>  Нотариальное заверение переведенных документов</li>
                    <li class="price-list"><span class="glyphicon glyphicon-ok"></span>  Курьерская доставка в удобное для Вас время и место</li>
                    <li class="price-list"><span class="glyphicon glyphicon-ok"></span>  Расшифровка и перевод аудиозаписей и видеоматериалов</li>                    
                  </ul>
                </div>                
            </div>            
        </div>
    </div>
        
 
